@charset "UTF-8";
.contact_contents {
	height: 900px;
	background-color: #1E90FF;
}

.submit_button {
	border-radius: 10px;
    background-color: orangered;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
	margin-left: 115px;
	margin-top: 30px;
}
.submit_button:hover {
	background-color: rgba(255,132,3,1.00);
	text-decoration: underline;
}
.contact_information {
	text-align: center;
	margin-top: 50px;
	font-weight: bolder;
	font-size: large;
}

.contact_input {
	width: 200px;
	margin-left: 200px;
	margin-top: 0px;
	padding-top: 50px;
	line-height: 30px;
}
.contact_left {
	float: left;
}
.message {
	width: 400px;
	height: 200px;
}
.contact_orchestral {
	margin-top: 50px;
	padding-right: 0px;
	width: 705px;
	height: 388px;
	border: thick solid #2025FD;
	margin-right: 75px;
}
.contact_right {
	float: right;
	clear: right;
}


.phone {
	width: 200px;
	height: 20px;
}
.email {
	width: 200px;
	height: 20px;
}
.subject {
	width: 200px;
	height: 20px;
}
.label {
	float: left;
	font-weight: bold;
	font-size: large;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	line-height: 0px;
}
.contact_us {
	margin-top: 0px;
	padding-top: 40px;
}

@media screen and (max-width: 1160px){
	
	.contact_input {
	float: left;
	}
	.submit_button{
		
	}
	.contact_contents {
	height: 1250px;
	}
	.contact_right {
	float: none;
	}
			
	}
@media screen and (max-width: 500px){
	
	.contact_input {
		margin-left: 50px
	}
	.submit_button{
	clear: none;
	margin-top: 670px;
	margin-left: 40px;
	}
	.contact_orchestral{
		width: 460px;
		height: 259px;
	}
	.contact_contents{
		height:1350px
	}
}
	