/*Body styles*/
body{
	margin:0;
	text-align: center;
	background-color: white;
    overflow-x: hidden;
}
/*End of body styles*/

.goal {
	background-color: royalblue;
	border: solid white;
}

.titlepic {
	height: 80%;
	width: 40%;
}

.mission{
	border: solid white;
    background-color: dodgerblue;
    padding: 1% 1%;
}

.button {
    border-radius: 4px;
    background-color: orangered;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
}

.button p {
    cursor: pointer;
    display: inline-block;
    position: inherit;
    transition: 0.5s;
    overflow: hidden;
}

.button p:after {
    content: '\00bb';
    position: inherit;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover p {
    padding-right: 7px;
}

.button:hover p:after {
  opacity: 1;
  right: 0;
}

/*Committee Section Styles*/

.committee {
	background-color: dodgerblue;
	border: solid white;
	padding-right: 5%;
	padding-bottom: 5%;
	color: white;
}

.title {
    color: white;
    font-size: 175%;
    font-weight: bold;
    font-family: "Lucida Bright", Georgia, serif;
}

.heading {
	font-size: 150%; 
	font-weight: bold;
	font-family: "Lucida Bright", Georgia, serif;
	text-align: left;
	width: 100%;
	background-color: orangered;
	padding: 1%;
}

table { 
  	width: 80%; 
  	border-collapse: collapse; 
	margin-left: 10%;
}

td, th { 
 	padding: 6px; 
 	border: solid black;
 	text-align: left; 
	font-size: 110%;
}

/* End of Committee Section Styles */

/* Life Members Section Styles */

.life {
	border: solid black;
	width: 100%;
	padding-right: 5%;
}

.members {
	background-color: dodgerblue;
	border: solid white;
	padding-right: 5%;
	padding-bottom: 5%;
	color: white;
	height: 500px;
}

.wrapper {
	height: 75%;
	width: 96.5%;
	margin-left: 1.75%;
}

.col1 {
	width: 24.5%;
	border: solid white;
	float: left;
}

.col1:hover {
	background-color: orangered;
	font-size: 120%;
	color: white;
	transition: 0.5s;
	
}

.alan:hover {
	height: 230px;
	width: 230px;
	transition: 0.5s;
	border: solid white;
}

.col2 {
	border: solid white;
	width:24.5%;
	float: left;
}

.col2:hover {
	background-color: orangered;
	font-size: 120%;
	color: white;
	transition: 0.5s;
	
}

.carol:hover {
	height: 230px;
	width: 230px;
	transition: 0.5s;
	border: solid white;
}

.col3 {
	border: solid white;
	width:24.5%;
	float: left;
}

.col3:hover {
	background-color: orangered;
	font-size: 120%;
	color: white;
	transition: 0.5s;
	
}

.david:hover {
	height: 230px;
	width: 230px;
	transition: 0.5s;
	border: solid white;
}

.col4 {
	border: solid white;
	width:24.5%;
	float: left;
}

.col4:hover {
	background-color: orangered;
	font-size: 120%;
	color: white;
	transition: 0.5s;
	
}

.donna:hover {
	height: 230px;
	width: 230px;
	transition: 0.5s;
	border: solid white;
}

/* End of Life Members Section Styles */

/* Special Guests Conductors Section Styles */

.conductors {
	background-color: dodgerblue;
	border: solid white;
	padding-right: 5%;
	padding-bottom: 5%;
	color: white;
	height: 500px;
}

/* End of Special Guests Conductors Section Styles */

.musicians {
	background-color: dodgerblue;
	border: solid white;
	padding-right: 5%;
	padding-bottom: 5%;
	color: white;
	height: 500px;
}

.button1 {
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    border-radius: 50%;
    border: solid white;
    overflow: hidden;
    background: orangered;
	margin-left: 45%;
}
.button1:hover {
    background: rgba(255,131,0,0.83);
}
.button1 img {
    display: block;
    width: 76%;
    padding: 12%;
    height: auto;
}

.footer {
	border: solid white;
	background-color: royalblue;
	width:100%;
	color: white;
	font-size: 120%;
	padding-top: 5%;
}

/*Navigation styles*/
.topnav {
  	overflow: hidden;
  	background-color: orangered;
    width:100%;
}

.topnav a {
  	float: left;
  	display: block;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
    position: relative;
}

.topnav .icon {
 	display: none;
}

.topnav a:hover {
    background-color: rgba(255,131,0,0.83);
    color: black;
}
/*End of navigation styles*/


/*Medium/Tablet screen styles*/
@media screen and (max-width: 1160px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
        float: right;
        display: block;
        margin-right: 0;
  }
	.goalimg {
		height: 150px;
	}
  
	
	img {
		width: 100%;
		height: 100%;
	}
	
	
	.button {
		padding: 10px;
		font-size: 20px;
	}
	
  	.topnav.responsive {
		position: relative;
	}
	
  	.topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
	
  	.topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .titlepic {
		height: 100%;
		width: 60%;
    }

}

/*End of Medium/Tablet screen styles*/


/*Small/Phone screen styles*/
@media screen and (max-width: 500px) {
  	.topnav a:not(:first-child) {
        display: none;
    }

  	.topnav a.icon {
        float: right;
        display: block;
  	}

	.goalimg {
		height: 75px;
	}
	
	.spacer {
		height: 36px;
	}

  	.topnav.responsive {
        position: relative;
    }

  	.topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
  	}
  	.topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
 	}
	
	.topnav a {
		padding: 7px 8px;
	}

   	.notices { 
    	float: none;
    	margin-right:1%;
		margin-bottom: 0;
    	width:auto;
    	border-bottom: solid black;   
		border-right: 0;
 	}

    .titlepic {
		height: 100%;
		width: 90%;
	}
	
	.button {
		padding:5px;
		font-size: 15px;
	}
}
/*End of small/phone screen styles*/


/*Scroll to top button styles*/
.scrollup {
	width: 35px;
    height: 30px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: rgba(31,28,28,0.61);
	color: white;
	font-size: 200%;
	text-decoration: none;
	font-weight: bold; 
}

.scrollup:hover {
	color: orangered;
}
/*End of scroll to top button styles*/