/*Body styles*/
body{
	margin:0;
	text-align: center;
	background-color: white;
    overflow-x: hidden;
}
/*End of body styles*/


img {
	height: 100%;
	width: 100%;
}

.spacer {
	height:50px;
}
.goal {
	background-color: royalblue;
    border: solid white;
}

.titlepic {
	height: 80%;
	width: 40%;
}

.mission{
	border: solid white;
    background-color: dodgerblue;
    padding: 1% 1%;
}

.button {
    border-radius: 4px;
    background-color: orangered;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
}

.button p {
    cursor: pointer;
    display: inline-block;
    position: inherit;
    transition: 0.5s;
    overflow: hidden;
}

.button p:after {
    content: '\00bb';
    position: inherit;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover p {
    padding-right:7px;
}

.button:hover p:after {
  opacity: 1;
  right: 0;
}

.content {
	text-align:center;
    padding-left: 0.5%;
    padding-right:0.5%;
}

.title {
    color: white;
    font-size: 175%;
    font-weight: bold;
    font-family: "Lucida Bright", Georgia, serif;
}

.paragraph {
    width: 40%;
    margin-left: 30%;
    color: white;
    border-left: solid orangered;
    font-family: "Berlin Sans FB";
    font-size: 120%;
}

.desc {
    width:99.5%;
    border: solid white;
    background-color: dodgerblue;
}

.info {
    border: solid white;
    width: 99.5%;
    background-color: dodgerblue;
	overflow: hidden;
}

.info div {
	min-height:200px;
	padding: 10px;
}

.notices {
  	float:left; 
  	margin-left:1%;
	margin-top: 1%;
  	width:49%;
}

.notice {
	width: 40%;
	margin-left: 28%;
	background-color: orangered;
	border-radius: 5px;
	color: white;
	font-family: "Berlin Sans FB";
	font-size: 140%;
	border: solid black;
}
.concert {
  	overflow:hidden;
  	margin:1%;
 	min-height:170px;
}

.concertimg {
	width: 60%;
	margin-left: 18%;
}

.concertinfo {
	border: solid black;
	border-radius: 5px;
	background-color: orangered;
	color: white;
	font-family: "Berlin Sans FB";
	font-size: 120%;
	width: 80%;
	margin-left: 8%;
}

.contactinfo {
	background-color: dodgerblue;
	border: solid white;
	overflow: hidden; 
}

.contactinfo div { 
	min-height: 200px;
	padding: 10px;
}

.footer {
	border: solid white;
	background-color: royalblue;
	width:100%;
	color: white;
	font-size: 120%;
	padding-top: 5%;
}

/*Navigation styles*/
.topnav {
  	overflow: hidden;
  	background-color: orangered;
    width:100%;
}

.topnav a {
  	float: left;
  	display: block;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
    position: relative;
}

.topnav .icon {
 	display: none;
}

.topnav a:hover {
    background-color: rgba(255,131,0,0.83);
    color: black;
}
/*End of navigation styles*/


/*Medium/Tablet screen styles*/
@media screen and (max-width: 1160px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
        float: right;
        display: block;
        margin-right: 0;
  }
	.goalimg {
		height: 150px;
	}
    .paragraph {
        width: 60%;
        margin-left:20%;
    }
	
	img {
		width: 100%;
		height: 100%;
	}
	
	.gallery {
		max-height: none;
		max-width: none;
		margin-left: 0;
	}
	
	.button {
		padding: 10px;
		font-size: 20px;
	}
	
  	.topnav.responsive {
		position: relative;
	}
	
  	.topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
	
  	.topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
	.notices {
    	float: none;
    	margin-right:1%;
		margin-bottom: 0;
    	width:auto;
    	border-bottom: solid orangered;
		border-right: 0;
 	}

	.notice {
		width: 60%;
		font-size: 120%;
		margin-left: 18%;
	}

	.concertimg {
		width: 60%;
		margin-left: 18%;
	}

    .titlepic {
		height: 100%;
		width: 60%;
    }

}

/*End of Medium/Tablet screen styles*/


/*Small/Phone screen styles*/
@media screen and (max-width: 500px) {
  	.topnav a:not(:first-child) {
        display: none;
    }

  	.topnav a.icon {
        float: right;
        display: block;
  	}

	.goalimg {
		height: 75px;
	}

    .paragraph {
        width: 80%;
        margin-left:10%;
    }
	
	.spacer {
		height: 36px;
	}

  	.topnav.responsive {
        position: relative;
    }

  	.topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
  	}
  	.topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
 	}
	
	.topnav a {
		padding: 7px 8px;
	}

   	.notices { 
    	float: none;
    	margin-right:1%;
		margin-bottom: 0;
    	width:auto;
    	border-bottom: solid orangered;
		border-right: 0;
 	}

	.notice {
		width: 80%;
		font-size: 120%;
		margin-left: 5%;
	}

	.concertimg {
		width: 90%;
		margin-left: 2.5%;
	}

    .titlepic {
		height: 100%;
		width: 90%;
	}
	
	.button {
		padding:5px;
		font-size: 15px;
	}
}
/*End of small/phone screen styles*/


/*Scroll to top button styles*/
.scrollup {
	width: 35px;
    height: 30px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: rgba(31,28,28,0.61);
	color: white;
	font-size: 200%;
	text-decoration: none;
	font-weight: bold; 
}

.scrollup:hover {
	color: orangered;
}
/*End of scroll to top button styles*/
